<!DOCTYPE html>
<html lang="en">

<head>
    <title>ARViz</title>
    <meta charset="UTF-8">

    <!-- dependencies -->
    <script type="text/javascript" src="/arviz/lib/d3.min.js"></script>
    <script type="text/javascript" src="/arviz/lib/d3-selection-multi.v0.4.min.js"></script>
    <script type="text/javascript" src="/arviz/lib/d3-color.v2.min.js"></script>
    <script type="text/javascript" src="/arviz/lib/d3-interpolate.v2.min.js"></script>
    <script type="text/javascript" src="/arviz/lib/d3-scale-chromatic.v2.min.js"></script>
    <script type="text/javascript" src="/arviz/lib/sweetalert2@9.js"></script>
    <script type="text/javascript" src='/arviz/lib/FileSaver.js'></script>
    <script type="text/javascript" src="/arviz/lib/simple_statistics.js"></script>	
    <script type="text/javascript" src="/arviz/lib/dragscroll.js"></script>	
    <script type="text/javascript" src="/arviz/lib/d3-context-menu/d3-context-menu.js"></script>
    <script type="text/javascript" src="/arviz/lib/d3-forkchord.js"></script>
    
    <link rel="stylesheet" href="/arviz/lib/d3-context-menu/d3-context-menu.css">
    <link rel="stylesheet" type="text/css" href="/arviz/lib/bootstrap.min.css" media="all" />

    <!-- ARViz-related files -->
    <script type="text/javascript" src="/arviz/js/arviz.js"></script>
    <script type="text/javascript" src="/arviz/js/utils.js"></script>
    <script type="text/javascript" src="/arviz/js/contextmenu.js"></script>

    <script type="text/javascript" src="/arviz/js/details_on_demand.js"></script>
    <script type="text/javascript" src="/arviz/js/publicationsPanel.js"></script>
    <script type="text/javascript" src="/arviz/js/imagesPanel.js"></script>

    <script type="text/javascript" src="/arviz/js/configPanel.js"></script>
    <script type="text/javascript" src="/arviz/js/legend.js"></script>
    <script type="text/javascript" src="/arviz/js/sort.js"></script>
    <script type="text/javascript" src="/arviz/js/filter.js"></script>

    <script type="text/javascript" src="/arviz/js/chart.js"></script>
    <script type="text/javascript" src="/arviz/js/scatterPlot.js"></script>
    <script type="text/javascript" src="/arviz/js/graphViz.js"></script>
    <script type="text/javascript" src="/arviz/js/chordDiagram.js"></script>
     
</head>

<body>

    
    <vis-arviz id="arviz" app=<%= locals.app %> >  </vis-arviz>  
    
    <script>
        let locals = <%- JSON.stringify(locals) %>;

        if (locals.params.value && locals.params.type) 
            document.querySelector("#arviz").setAttribute("keyword", `${locals.params.type}--${locals.params.value}`)
    </script>
</body>

</html>